* {
    font-family: 'Source Sans 3', sans-serif;
    color: #121212;
}

body {
    background-color: rgba(208, 208, 208, 0.2);
    margin: 0;
}

#navbar {
    background-color: #ffffff;
    height: 12ch;
    padding: 0 11vw;
    width: auto;
    display: flex;
    align-content: space-between;
}

#navbar div {
    margin-top: 1ch;
}

#navRight {
    margin-left: auto;
}

#navRight button {
    margin-top: 2.5ch;
    margin-left: 0.5vw;
}

#navRight select {
    margin-top: 2ch;
}

#logo {
    width: 10ch;
    height: 10ch;
}

#searchIcon {
    width: 3ch;
    height: 3ch;
    margin-bottom: 3.5ch;
    margin-left: 2.5ch;
}

#search {
    width: 34vw;
    height: 5ch;
    margin-left: 1.5ch;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    bottom: 3.75ch;
    padding: 0 0.5vw;
}

#search:focus {
    border: 2px solid #3668BC;
}

#mainContent {
    background-color: #ffffff;
    margin-top: 4ch;
    margin-bottom: 4ch;
    margin-left: 17vw;
    padding: 0 2vw;
    padding-bottom: 2ch;
    height: max-content;
    width: 38vw;
    display: block;
    border-radius: 5px;
    flex: 0 0 auto;
}

#warning {
    display: flex;
    margin-bottom: 4ch;
}

#warning .side {
    background-color: rgb(223, 139, 37);
    width: 0.33vw;
}

#warning .info {
    background-color: rgba(223, 139, 37, 0.05);
    padding: 1.5ch 1.5vw;
    height: fit-content;
    width: fit-content;
}

#warning .bold {
    padding-bottom: 1ch;
}

#bottom {
    background-color: rgba(208, 208, 208, 0.6);
    height: 0.1ch;
}

#page {
    display: flex;
    justify-content: center;
}

#leftContent {
    width: 16vw;
    height: fit-content;
    margin: 4ch 0;
    flex: 0 0 auto;
    position: fixed;
    left: 11vw;
}

#rightContent {
    width: 18vw;
    height: fit-content;
    margin: 4ch 4ch 0 2vw;
    flex: 0 0 auto;
}

#rightContent img {
    border-radius: 5px;
    width: 18vw;
}

.citation {
    margin: 1.5ch 0;
}

.number {
    position: absolute;
    color: #3668BC;
    text-decoration: underline;
    font-size: 14px;
}

.citationInfo {
    margin-left: 1.5vw;
    font-size: 14px;
}

.callout {
    margin: 2ch 0;
}

.callout .info {
    border-radius: 5px;
    background-color: rgba(208, 208, 208, 0.2);
    padding: 1.5ch 1.5vw;
    height: fit-content;
    width: fit-content;
}

.callout .bold {
    padding-bottom: 1ch;
}

.article {
    text-decoration: none;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.leftContentTitle {
    margin-bottom: 2ch;
}

.contentTitle {
    display: block;
    margin-top: 4ch;
    margin-bottom: 2ch;
}

.contentTitle .info {
    font-size: 14px;
    font-style: italic;
    color: #717171;
}

.title {
    font-size: 20px;
    display: flex;
}

.title .side {
    background-color: #d0d0d0;
    width: 0.1vw;
    height: 4ch;
}

.title .info {
    color: #3668BC;
    margin-left: 1vw;
    padding-top: 0.66ch;
    font-weight: 350;
    font-size: 16px;
}

.info.active {
    margin-left: 0.9vw;
    color: #121212;
}

.side.active {
    background-color: #3668BC;
    width: 0.2vw;
}

.header {
    margin-bottom: 4ch;
}

.title1, .title2 {
    font-weight: 650;
}

.title3, .title4 {
    font-weight: 600;
}

.old {
    font-family: 'Source Serif 4', sans-serif;
}

.title1 {
    font-size: 48px;
}

.title2 {
    font-size: 24px;
}

.title3 {
    font-size: 20px;
}

.title4 {
    font-size: 18px;
}

.small {
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.bold-italic {
    font-weight: 600;
    font-style: italic;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

sup {
    font-size: 12px;
}

a {
    color: #3668BC;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

button {
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    height: 5ch;
    width: fit-content;
    padding: 0 0.5vw;
}

select {
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    height: 5ch;
    margin-left: 0.5vw;
    padding: 0 0.5vw;
}

@media (max-width: 1100px) {
    #leftContent {
        display: none;
    }

    #rightContent {
        width: 22vw;
    }

    #rightContent img {
        width: 22vw;
    }

    #mainContent {
        width: 46vw;
        margin-left: 6vw;
    }

    #search {
        width: 37vw;
    }

    #navbar {
        padding: 0 3vw;
    }

    #navRight select {
        margin-right: 7vw;
    }

    .citationInfo {
        margin-left: 2.5vw;
    }
}

@media (max-width: 800px) {
    #navRight select {
        margin-right: 9vw;
    }
}

@media (max-width: 950px) {
    #search {
        width: 20vw;
    }
}

@media (max-width: 700px) {
    #rightContent {
        width: 28vw;
    }

    #rightContent img {
        width: 28vw;
    }

    #mainContent {
        width: 50vw;
    }

    #search {
        display: none;
    }

    #navRight select {
        margin-right: 3vw;
    }

    .citationInfo {
        margin-left: 3.5vw;
    }
}

@media (max-width: 500px) {
    #navRight button {
        display: none;
    }

    #navRight select {
        margin-right: 5vw;
    }

    .citationInfo {
        margin-left: 4.5vw;
    }
}