@import "tailwindcss";

@theme {
    --color-amethyst-500: oklch(0.6 0.1536 305.33);
    --color-link: oklch(0.53 0.1428 260.14);
    --color-warning: oklch(0.72 0.1719 58.5);
    --color-table-info: oklch(0.72 0.1719 58.5 / 50%);
    --color-warning-bg: oklch(0.72 0.1719 58.5 / 5%);
    --color-callout: oklch(0.86 0 0 / 20%);
    --color-callout-light: oklch(0.55 0 0 / 20%);
    --color-coal: oklch(0.18 0 0);
    --default-font-family: 'Source Sans 3', sans-serif;
    --font-emoji: 'Noto Color Emoji', sans-serif;
    --font-old: 'Source Serif 4', sans-serif;
}