* {
    font-family: 'Source Sans 3', sans-serif;
    color: #121212;
}

body {
    background-color: rgba(208, 208, 208, 0.2);
    margin: 0;
}

#navbar {
    background-color: #ffffff;
    height: 12ch;
    padding: 0 11vw;
    width: auto;
    display: flex;
    align-content: space-between;
    border-bottom: rgba(208, 208, 208, 0.6) solid 0.1ch;
}

#powered {
    height: 4ch;
    background-color: rgba(208, 208, 208, 0.2);
    padding: 1ch 0.25vw;
    border-radius: 5px;
    border: 0.1ch solid #121212 !important;
}

#footer {
    position: relative;
    display: flex;
    background-color: #ffffff;
    height: 12ch;
    width: auto;
    border-top: rgba(208, 208, 208, 0.6) solid 0.1ch;
    padding: 0ch 11vw;
    align-items: center;
    justify-content: space-between;
}

#leftFooter {
    display: flex;
    flex-direction: column;
}

#footer p {
    margin: 1ch 0;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footerList {
    display: flex;
}

#footerList a {
    margin-right: 2vw;
}

#navbar div {
    margin-top: 1ch;
}

#navRight {
    margin-top: 3ch !important;
    margin-left: auto;
}

#navRight a {
    text-decoration: none;
    margin-left: 0.5vw;
    padding: 1.33ch 0.5vw;
    color: #121212;
}

#navRight select {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1.33ch;
    outline: none;
}

#navRight select:hover {
    cursor: pointer;
}

#logo {
    width: 10ch;
    height: 10ch;
}

#searchIcon {
    width: 3ch;
    height: 3ch;
    margin-bottom: 3.5ch;
    margin-left: 2.5ch;
}

#search {
    width: 34vw;
    height: 5ch;
    margin-left: 1.5ch;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    bottom: 3.75ch;
    padding: 0 0.5vw;
}

#search:focus {
    border: 2px solid #3668BC;
}

#mainContent {
    background-color: #ffffff;
    margin-top: 4ch;
    margin-bottom: 70ch;
    margin-left: 4vw;
    padding: 0 2vw;
    padding-bottom: 2ch;
    height: max-content;
    width: 38vw;
    display: block;
    border-radius: 5px;
    flex: 0 0 auto;
}

#warning {
    border-left: #f28500 solid 0.33vw;
    background-color: rgba(242, 133, 0, 0.05);
    padding: 1.5ch 1.5vw;
    height: fit-content;
    width: 91%;
    margin-bottom: 4ch;
}

#warning .bold {
    padding-bottom: 1ch;
}

#page {
    display: flex;
    justify-content: center;
}

#leftContent {
    width: 14vw;
    height: fit-content;
    margin: 4ch 0;
    flex: 0 0 auto;
    position: sticky;
    top: 4ch;
    left: 11vw;
}

#rightContent {
    width: 18vw;
    height: max-content;
    margin: 4ch 4ch 0 2vw;
    flex: 0 0 auto;
}

#enlarge {
    background-color: rgba(113, 113, 113, 0.5);
    backdrop-filter: blur(4px);
    z-index: 10;
    position: fixed;
    padding: 3ch 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enlarge.closed {
    display: none;
}

#closeButton {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 2ch;
    right: 3vw; 
}

#closeButton:hover {
    cursor: pointer;
}

#close {
    width: 24px;
}

#enlarge .contentBox {
    display: flex;
    background-color: #ffffff;
    padding: 2ch 2vw;
    height: fit-content;
    width: 48vw;
    border-radius: 5px;
    margin-bottom: 6ch;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#enlarge .contentBox img {
    width: 46vw;
    border-radius: 5px;
}

#enlarge .info {
    width: 46vw;
}

.icon {
    position: relative;
    width: 14px;
    top: 0.225ch;
    right: 0.2vw;
}

.citation {
    margin: 1.5ch 0;
}

.number {
    position: absolute;
    color: #3668BC;
    text-decoration: underline;
    font-size: 14px;
}

.citationInfo {
    margin-left: 1.5vw;
    font-size: 14px;
}

.callout {
    margin: 2ch 0;
}

.callout .info {
    border-radius: 5px;
    background-color: rgba(208, 208, 208, 0.2);
    padding: 1.5ch 1.5vw;
    height: fit-content;
    width: fit-content;
}

.callout .bold {
    padding-bottom: 1ch;
}

.article {
    text-decoration: none;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.leftContentTitle {
    margin-top: 1ch;
    display: flex;
    justify-content: left;
}

.header .leftContentTitle {
    margin-top: 4ch;
}

.option {
    text-decoration: none;
    margin-left: 2vw;
    border-radius: 5px;
    padding: 1ch 0.5vw;
    height: fit-content;
}

.option:hover {
    border: #3668BC solid 0.1vw;
}

.container {
    position: absolute;
    width: 18vw;
    top: 0;
}

.container table {
    outline: rgba(113, 113, 113, 0.2) solid 0.1vw;
    padding: 1ch 0.5vw;
    border-radius: 5px;
    width: 18vw;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

tr {
    display: flex;
}

tr.title {
    flex-wrap: wrap;
    flex-direction: column;
}

tr.content {
    flex-wrap: nowrap;
    flex-direction: row;
}

th {
    border-radius: 5px;
}

th a {
    font-weight: 600;
}

th.title {
    font-size: 20px;
    background-color: rgba(242, 133, 0, 1);
}

th.info {
    font-weight: normal;
    background-color: rgba(242, 133, 0, 0.5);
}

th, td {
    margin: 0.1ch 0;
}

td.left {
    font-weight: 600;
    width: 50%;
}

.container img {
    width: 18vw;
    border-radius: 5px;
}

.container .enlarge:hover {
    cursor: zoom-in;
}

.contentTitle {
    display: flex;
    margin-top: 4ch;
    margin-bottom: 2ch;
    justify-content: space-between;
}

.contentTitle.header {
    margin-top: 2ch;
}

.contentTitle .info {
    font-size: 14px;
    font-style: italic;
    color: #717171;
}

a.title {
    display: block;
    text-decoration: none;
    color: #3668BC;
    padding: 1ch 0;
    padding-left: 1vw;
    font-weight: 350;
    font-size: 16px;
    border-left: #d0d0d0 solid 0.1vw;
}

a.title:hover {
    text-decoration: underline;
}

a.title.active {
    color: #121212;
    border-left: #3668BC solid 0.15vw;
    padding-left: 0.9vw;
}

.header {
    margin-bottom: 4ch;
}

.title1, .title2 {
    font-weight: 650;
}

.title3, .title4 {
    font-weight: 600;
}

.old {
    font-family: 'Source Serif 4', sans-serif;
}

.title1 {
    font-size: 48px;
}

.title2 {
    font-size: 24px;
}

.title3 {
    font-size: 20px;
}

.title4 {
    font-size: 18px;
}

.small {
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.bold-italic {
    font-weight: 600;
    font-style: italic;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

sup {
    font-size: 12px;
}

a {
    color: #3668BC;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

button {
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    height: 5ch;
    width: fit-content;
    padding: 0 0.5vw;
}

select {
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    margin-left: 0.5vw;
    padding: 0 0.5vw;
}

@media (max-width: 1300px) {
    #mainContent {
        margin-bottom: 30ch;
    }
}

@media (max-width: 1100px) {
    #leftContent {
        display: none;
    }

    #rightContent {
        width: 22vw;
    }

    #mainContent {
        width: 46vw;
        margin-left: 6vw;
        margin-bottom: 4ch;
    }

    #search {
        width: 26vw;
    }

    #navbar {
        padding: 0 3vw;
    }

    #navLeft {
        margin-left: 10vw;
    }

    #navRight select {
        margin-right: 7vw;
    }

    #close {
        right: 4vw;
    }

    #enlarge .contentBox {
        width: 52vw;
    }

    #enlarge .contentBox img {
        width: 50vw;
    }

    #enlarge .info {
        width: 50vw;
    }
    
    .citationInfo {
        margin-left: 2.5vw;
    }

    .container {
        width: 22vw;
    }

    .container img {
        width: 22vw;
    }
}

@media (max-width: 950px) {
    #search {
        width: 20vw;
    }

    .leftContentTitle {
        display: none;
    }
}

@media (max-width: 800px) {
    #search {
        width: 10vw;
    }

    #navRight select {
        margin-right: 9vw;
    }
}

@media (max-width: 700px) {
    #rightContent {
        width: 28vw;
    }

    #mainContent {
        width: 50vw;
    }

    #search {
        display: none;
    }

    #navLeft {
        margin-left: 3vw;
    }

    #navRight select {
        margin-right: 3vw;
    }

    #close {
        right: 6vw;
    }

    #enlarge .contentBox {
        width: 60vw;
    }

    #enlarge .contentBox img {
        width: 58vw;
    }

    #enlarge .info {
        width: 58vw;
    }

    #footer p {
        display: none;
    }

    .citationInfo {
        margin-left: 3.5vw;
    }

    .container {
        width: 28vw;
    }

    .container img {
        width: 28vw;
    }
}

@media (max-width: 500px) {
    #navRight a {
        display: none;
    }

    #navRight select {
        margin-right: 5vw;
    }

    #close {
        right: 10vw;
    }

    #enlarge .contentBox {
        width: 68vw;
    }

    #enlarge .contentBox img {
        width: 66vw;
    }

    #enlarge .info {
        width: 66vw;
    }

    .citationInfo {
        margin-left: 4.5vw;
    }
}